

/* Nav Bar CSS */
body .navbar-default .navbar-text {
    color: black;
    margin-left:400px;
    
}



.navbar-nav  li a {
    font-size:24px;
}


/* Header CSS */


/* Section CSS */



/* About Section CSS */

.test{
    background-color:#87CEFA;
}

.me{
   max-width:500px;
   padding-bottom: 125px;
}
.name{
    font-family: Blippo, fantasy;
    
    padding-bottom: 30px;
}
.imanipic{
    width:400px;
    height:400px;
}

.about{
    text-align: left;
}


/* Portfolio Item CSS */

#tvg {
    width:400px;
    height:400px;
    
}


.top{
    padding-bottom: 25px;
}

.bottom{
    padding-bottom: 25px;
}

/* Footer CSS */



/* Button CSS */

