/* Nav Bar CSS */
body .navbar-default .navbar-text {
    color: black;
    margin-left:400px;
    
}

.navbar-nav  li a {
    color:red;
    font-size:24px;
}

/* Header CSS */



/* Section CSS */



/* About Section CSS */



/* Portfolio Item CSS */



/* Footer CSS */



/* Button CSS */

